@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gilroy';
  src: url(../Gilroy-Regular.ttf) format('truetype');
}

*{
font-family: gilroy;
}

::selection{
  color: rgb(228, 173, 22);
}